[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-allauth = "*"
dj-rest-auth = "*"
django-cors-headers = "*"
rest-framework-simplejwt = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
